<section>
  <div class="container">

    <div class="section__header">
      <div class="cols_4">
        <div class="col">
          <div class="cicon cicon_br cicon_center">
            <i class="fas fa-shopping-basket cicon__icon"></i>
          </div>
        </div>
        <div class="col">
          <div class="cicon cicon_br cicon_center">
            <i class="fa fa-id-card cicon__icon"></i>
          </div>
        </div>
        <div class="col">
          <div class="cicon cicon_br cicon_center">
            <i class="fa fa-car cicon__icon"></i>
          </div>
        </div>
        <div class="col">
          <div class="cicon cicon_blue cicon_center">
            <i class="fa fa-check cicon__icon cicon__icon_white"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="section__footer">
      <div class="box__wrap row bac_blue_d">
        <div class="box__content">
          <p class="section__headline section__headline_center color_white">Lorem, ipsum dolor</p>
          <p class="section__descrip section__descrip_center color_white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eos dolor, perspiciatis aspernatur maiores ratione voluptas omnis earum blanditiis voluptatibus velit culpa quisquam saepe eligendi quasi similique, dicta ipsa voluptatum.</p>
        </div>
      </div>
    </div>

    

  <div class="section__footer">
    <div class="container">
      <div class="fl_c">
        <a href="/box/buy?act=delivery" class="button button_basket">Купить</a>
      </div>
    </div>
  </div>
</section>

<script src = "/js/timer.js"></script>
<script src = "/js/total.js"></script>