<div class="container">

  <div class="sp__hero">
    <a href="" class="shero__link">
      <img src="/img/shop/logo/1.png" alt="" class="shero__logo">
    </a>
  </div>
  <div class="sp__nav">
    <ul class="snav__list">
      <li class="snav__item">
        <a href="" class="snav__link">Главная</a>
      </li>
      <li class="snav__item">
        <a href="" class="snav__link">О нас</a>
      </li>
      <li class="snav__item">
        <a href="" class="snav__link">Конакты</a>
      </li>
    </ul>
  </div>
  <div class="sp__banner">
    <img src="/img/shop/cover/1.jpg" alt="" class="sbanner__img">
  </div>

  <div class="section">
    <div id="product_list" class="product__rows"></div>
    <script src="/js/product.js"></script>

    <script>
      data = {
        shop_id: 1,
      };
      
      Product.gl('product_list', data);
    </script>
    </div>
  </div>

</div>

<script>
  Connect.css('shop-profile');
</script>