<div class="container">

  <div class="sp__hero">
    <a href="" class="shero__link">
      <img src="/img/shop/logo/1.png" alt="" class="shero__logo">
    </a>
  </div>
  <div class="sp__nav">
    <ul class="snav__list">
      <li class="snav__item">
        <a href="" class="snav__link">Главная</a>
      </li>
      <li class="snav__item">
        <a href="" class="snav__link">О нас</a>
      </li>
      <li class="snav__item">
        <a href="" class="snav__link">Конакты</a>
      </li>
    </ul>
  </div>
  <div class="sp__banner">
    <img src="/img/shop/cover/1.jpg" alt="" class="sbanner__img">
  </div>

  <div class="section">
    <div class="product__rows">
      <div class="product__row">
        <div class="product__cover">
          <img src="/img/product/1.png" alt="" class="product__img">
        </div>
        <div class="product__info">
          <a href="/product=12" class="product__title">Ручка</a>
          <span class="product__price">$1000</span>
        </div>
        <div class="product__footer">
          <a href="" class="product__button">
            Купить
          </a>
        </div>
      </div>
      <div class="product__row">
        <div class="product__cover">
          <img src="/img/product/1.png" alt="" class="product__img">
        </div>
        <div class="product__info">
          <a href="/product=12" class="product__title">Ручка</a>
          <span class="product__price">$1000</span>
        </div>
        <div class="product__footer">
          <a href="" class="product__button">
            Купить
          </a>
        </div>
      </div>
      <div class="product__row">
        <div class="product__cover">
          <img src="/img/product/1.png" alt="" class="product__img">
        </div>
        <div class="product__info">
          <a href="/product=12" class="product__title">Ручка</a>
          <span class="product__price">$1000</span>
        </div>
        <div class="product__footer">
          <a href="" class="product__button">
            Купить
          </a>
        </div>
      </div>
      <div class="product__row">
        <div class="product__cover">
          <img src="/img/product/1.png" alt="" class="product__img">
        </div>
        <div class="product__info">
          <a href="/product=12" class="product__title">Ручка</a>
          <span class="product__price">$1000</span>
        </div>
        <div class="product__footer">
          <a href="" class="product__button">
            Купить
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>

<script>
  Connect.css('shop-profile');
</script>