// color
$color-white: #fff;
$color-blue_d: #0f2868;
$color-blue_w: #709ce7;
$color-pink: #fa244a;

// color grey
$color-grey: #c0c4cf;
$color-grey_l: #ededed;
// $color-grey_l: #E0E0E0;
$color-grey_d: #616161;

.product {
	float: left;
	margin: 10px;
	border-radius: 4%;
	cursor: pointer;

	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

	&__rows {
		display: block;
		margin-left: -20px;
	}

	&__row {
		width: 100%;
		max-width: 255px;
		margin-left: 20px;

		float: left;

		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		border-radius: 3px;
	}

	&__cover {
		width: 100%;
		height: 255px;
		display: table;

		padding: 15px;

		box-sizing: border-box;
		background: $color-grey_l;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}


	&__img {
		display: table;
		height: 100%;

		margin: 0 auto;
	}

	&__info {
		padding: 15px 20px;

		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__title {
		display: block;
		margin-bottom: 10px;

		font-size: 24px;
		font-weight: 400;
		color: $color-blue_w;

		text-align: center;
		line-height: 30px;
	}

	&__price {
		display: block;

		font-size: 17px;
		color: $color-grey_d;

		text-align: center;
		line-height: 20px;
	}

	&__footer {
		width: 100%;
		padding: 15px 20px;

		box-sizing: border-box;
		border-top: 1px solid $color-grey_l;
		box-sizing: border-box;
	}

	&__button {
		position: relative;
		line-height: 30px;
		font-size: 17px;
		font-weight: 600;
		color: $color-grey_d;

		display: table;
		margin: 0 auto;

		&::before {
			content: '\f07a';
			font-family: Awesome;

			margin-right: 10px;
		}

		&:hover {
			color: $color-pink;
		}
	}
}

.product_shop_name{
	color: grey;
	cursor: pointer;
}

.product_main{
	padding-top: 50px;
	width: 80%;
	margin: 0 auto;
}

.product_profile_main{
	display: table;
	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
	width: 80%;
	margin: 0 auto;
	padding: 40px;
	margin-top: 100px;
}

.product_box_icon{
	margin-left: 6px;
	color: white;
}
.product_profile_image{
	margin: 10px;
	float: left;
	width: 300px;
	height: 300px;
}

.product_cost{
	font-size: 24px;
	color: grey;
}
.product_name{
	color: blue;
	font-size: 30px;
}
.product_text{
	width: 250px;
	color: grey;
	margin-bottom: 30px;
	font-size: 15px;
}

.product_profile_cost{
	font-size: 30px;
	float: left;
	color: #F44336;	
}

.product_profile_descript{
	float: left;
	padding-left: 100px;
	font-size: 57px;
}

.product_descript{
	text-align: center;
}

.product_box_main{
	width: 80%;
	margin: 0 auto;
	margin-top:100px;
}

.product_box_image{
	float: left;
	width: 200px;
	height: 200px;
	margin: 20px;
}
.product_box_name{
	font-size: 50px;
	margin-left: 80px;
}
.product_box_name_un{
	float: left;
	font-size: 50px;
	margin-left: 10px;
	margin-top: 70px;
}
.product_box_cost{
	color: #F44336;
	font-size: 25px;
}

.product_box_cost_un{
	float: left;
	color: #F44336;
	margin-left: 167px;
	font-size: 40px;
	margin-top: 77px;
}

.product_box_total{
	margin-top: 50px;
	font-size: 30px;
}

.product_box_date{
	float: left;
	margin-top: 90px;
	margin-left: 50px;
	color: grey;
}
.product_number{
	font-size:30px;
}
.product_number_value{
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

.product_box_number_value{
	float: left;
	margin-left: 180px;
	font-size: 25px;
	margin-top: 92px;
}

.product_box{
	display: table;
	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
	width: 100%;
	padding: 15px;
	margin-top: 50px;
}
.product_box_left{
	margin-left: 2%;
	display: block;
	float: left;

}
.product_box_right{
	margin-right: 100px;
	display: block;
	float: right;
}
.product_box_timer{
	font-size: 30px;
	color: grey;
}
.product_cancel_button{
	margin-top: 10px;
	margin-left: 20px;
	padding: 12px 24px 13px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
	line-height: 17px;
	background: #F44336;
	height: 40px;
	color: white;
	cursor: pointer;
}

.product_box_bottom_left{
	float: left;
	margin-left: 20px;
	font-size: 30px;
}
.product_box_bottom_right{
	float: right;
	margin-right: 10px;
}
.product_delete_button{
	margin-top: 10px;
	margin-left: 20px;
	padding: 12px 24px 13px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
	line-height: 17px;
	background: #F44336;
	height: 40px;
	color: white;
	cursor: pointer;
}
.product_buy_button{
	margin-top: 10px;
	padding: 12px 24px 13px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
	line-height: 17px;
	background: #0f2868;
	height: 40px;
	color: white;
	cursor: pointer;
}